@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  color: #2c2c2c;
  line-height: 1.25;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c2c2c;
  margin: 20px 0;
}

.container {
  --container-width: 1200px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

@media screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
@media screen and (min-width: 1400px) {
  .d-xxl-none {
    display: none;
  }
  .d-xxl-block {
    display: block;
  }
}
.header {
  padding: 10px 0;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header .logo {
  height: 99px;
  overflow: hidden;
}
.header .logo img {
  max-height: 100%;
}
.header .header-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header .header-nav .menu ul {
  display: flex;
}
.header .header-nav .menu ul li {
  padding: 0 25px;
}
.header .header-nav .menu ul li a {
  font-weight: 600;
  padding-bottom: 50px;
}
.header .header-nav .menu ul li.active a, .header .header-nav .menu ul li:hover a {
  color: #46b20f;
  border-bottom: 1.667px solid #46b20f;
}
.header .header-nav .menu-overlay {
  opacity: 0;
  visibility: hidden;
}
.header .header-nav .cart-icon {
  padding: 0 25px;
}
.header .header-nav .cart-icon a {
  position: relative;
  display: block;
}
.header .header-nav .cart-icon a span {
  position: absolute;
  top: -5px;
  right: -6px;
  background: #ff6916;
  color: #fff;
  padding: 0 4px;
  border-radius: 50%;
  font-size: 1.3rem;
}
.header .header-nav .search-icon {
  padding-left: 25px;
}

@media screen and (max-width: 991.98px) {
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .menu-toggle {
    font-size: 2rem;
  }
  .header .header-nav .menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    background: #46b20f;
    min-width: 250px;
    padding: 15px 0;
    translate: -100%;
    transition: translate 0.4s ease;
  }
  .header .header-nav .menu ul {
    display: block;
  }
  .header .header-nav .menu ul li {
    padding: 0;
  }
  .header .header-nav .menu ul li a {
    color: #fff !important;
    display: block;
    padding: 10px 20px;
  }
  .header .header-nav .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3882352941);
    z-index: 1;
    transition: 0.4s ease;
    transition-property: opacity, visibility;
  }
  .header .header-nav .cart-icon {
    padding: 0 10px;
  }
  .header .header-nav .search-icon {
    padding-left: 10px;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu {
    translate: 0;
  }
  .header .header-nav input[type=checkbox]:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
}
.hero .hero-text h1,
.hero .hero-text h2 {
  font-weight: 800;
}
.hero .hero-text h1 {
  font-size: 3.6rem;
}
.hero .hero-text h2 {
  font-size: 4.3rem;
}
.hero .hero-text p {
  max-width: 77%;
}
.hero .hero-image {
  background: #dcffca;
  width: 50vw;
  border-radius: 16.667px 0px 0px 16.667px;
  padding: 55px 0;
  position: relative;
  min-height: 708px;
}
.hero .hero-image span {
  font-size: 15.6rem;
  color: #216000;
  font-weight: 800;
  opacity: 0.15;
  line-height: 1;
  rotate: 90deg;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 35px;
  display: inline-block;
}
.hero .hero-image img {
  width: 432px;
  margin-top: 50px;
  margin-left: -80px;
}

@media screen and (max-width: 1399.98px) {
  .hero .hero-image span {
    font-size: 10rem;
    left: -6%;
  }
  .hero .hero-image img {
    width: 350px;
    margin-left: -60px;
  }
}
@media screen and (max-width: 991.98px) {
  .hero .hero-text {
    text-align: center;
    margin-bottom: 20px;
  }
  .hero .hero-text p {
    max-width: 100%;
  }
  .hero .hero-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
  }
  .hero .hero-image img {
    margin: 0;
  }
  .hero .hero-image span {
    position: static;
  }
}
@media screen and (max-width: 767.98px) {
  .hero .hero-image {
    display: block;
    text-align: center;
  }
  .hero .hero-image img {
    margin: 0 auto;
    max-width: 70%;
    display: block;
  }
  .hero .hero-image span {
    rotate: 0deg;
    font-size: 10rem;
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
