.hero {
  .hero-text {
    h1,
    h2 {
      font-weight: 800;
    }
    h1 {
      font-size: 3.6rem;
    }

    h2 {
      font-size: 4.3rem;
    }

    p {
      max-width: 90%;
    }
  }
  .hero-image {
    background: #dcffca;
    width: 50vw;
    border-radius: 16.667px 0px 0px 16.667px;

    padding: 55px 0;
    position: relative;
    min-height: 708px;

    span {
      font-size: 15.6rem;
      color: #216000;
      font-weight: 800;
      opacity: 0.15;
      line-height: 1;
      rotate: 90deg;
      position: absolute;
      left: 350px;
      width: 40%;
    }

    img {
      width: 60%;
      margin-top: 50px;
      margin-left: -80px;
    }
  }
}
