.quality {
  padding: 133px 0;

  .quality-list {
    .quality-item {
      @include center(75%);
      margin-bottom: 38.83px;
      display: flex;
      column-gap: 15.83px;

      h3 {
        margin-bottom: 6.67px;
        font-weight: 600;
        font-size: 2rem;
      }

      p {
        font-weight: 500;
        font-size: 1.7rem;
      }
    }

    [class^="col-"] {
      &:nth-child(3n + 1) {
        .quality-item {
          margin-left: auto;
          margin-right: initial;
        }
      }

      &:nth-child(3n + 3) {
        .quality-item {
          margin-right: auto;
          margin-left: initial;
        }
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {
  .quality {
    .quality-list {
      .quality-item {
        margin-left: auto !important;
        margin-right: auto !important;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .quality {
    padding: 68px 0 30px;
  }
}

@media screen and (max-width: 575.98px) {
  .quality {
    .quality-list {
      .quality-item {
        max-width: 100%;
      }
    }
  }
}
