.footer {
  padding-top: 66px;
  padding-bottom: 40px;
  background: #f2ffec;
  .footer-inner,
  .footer-bottom {
    @include center(90%);
  }

  .footer-inner {
    &::after {
      content: "";
      display: block;
      height: 1.667px;
      background: #a3a3a3;
      @include center(98%);
      margin-top: 72.5px;
    }
    .footer-item {
      .logo {
        margin-bottom: 24.58px;
      }
      p {
        margin-bottom: 6.67px;

        &.title {
          font-weight: 600;
          color: $primaryColor;
          margin-bottom: 13px;
        }
      }

      ul {
        li {
          margin-bottom: 6.67px;
          display: flex;
          flex-wrap: wrap;
          svg {
            flex-basis: 20px;
            margin-right: 10px;
          }
          span {
            flex-basis: calc(100% - 30px);
          }
        }
      }
    }
  }

  .footer-bottom {
    padding-top: 24.17px;
    .socials {
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: center;
      column-gap: 6.67px;
      li {
        a {
          display: block;
          width: 40px;
          height: 40px;
          background: #dcffca;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {
  .footer {
    .footer-inner {
      &::after {
        margin-top: 20px;
      }
      .footer-item {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .footer {
    .footer-bottom {
      .footer-img {
        text-align: center;
      }
      .socials {
        justify-content: center;
      }
    }
  }
}
