.header {
  padding: 10px 0;
  box-shadow: 0px 1.6666666269302368px 8.333333015441895px 0px
    rgba(0, 0, 0, 0.15);
  .logo {
    height: 99px;
    overflow: hidden;
    img {
      max-height: 100%;
    }
  }
  .header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .menu {
      ul {
        display: flex;
        li {
          padding: 0 25px;
          a {
            font-weight: 600;
            padding-bottom: 50px;
          }

          &.active {
            a {
              color: $primaryColor;
              border-bottom: 1.667px solid $primaryColor;
            }
          }

          &:hover {
            @extend .active;
          }
        }
      }
    }

    .menu-overlay {
      opacity: 0;
      visibility: hidden;
    }

    .cart-icon {
      padding: 0 25px;
      a {
        position: relative;
        display: block;
        span {
          position: absolute;
          top: -5px;
          right: -6px;
          background: $secondaryColor;
          color: #fff;
          padding: 0 4px;
          border-radius: 50%;
          font-size: 1.3rem;
        }
      }
    }

    .search-icon {
      padding-left: 25px;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .header {
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .menu-toggle {
      font-size: 2rem;
    }

    .header-nav {
      .menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        background: $primaryColor;
        min-width: 250px;
        padding: 15px 0;
        translate: -100%;
        transition: translate 0.4s ease;

        ul {
          display: block;
          li {
            padding: 0;
            a {
              color: #fff !important;
              display: block;
              padding: 10px 20px;
            }
          }
        }
      }

      .menu-overlay {
        position: fixed;
        inset: 0;
        background: #00000063;
        z-index: 1;
        transition: 0.4s ease;
        transition-property: opacity, visibility;
      }

      .cart-icon {
        padding: 0 10px;
      }

      .search-icon {
        padding-left: 10px;
      }

      input[type="checkbox"] {
        &:checked {
          ~ .menu {
            translate: 0;
          }

          ~ .menu-overlay {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
